# env
DA_ENVIRONMENT=development

# debug
DEBUG=True

# allowed host
ALLOWED_HOST=*,localhost

# database
DATABASE_ENGINE=django.db.backends.postgresql_psycopg2
DATABASE_NAME=movie_review
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432

# log
LOG_LEVEL=INFO

# secret key
SECRET_KEY=django-insecure-@5@v!@c7peuz$a25f95d!rlgl4vzk9b@l%16mj!j(s^mjq0g&@

# media url
MOVIE_MEDIA_URL=movie_data_files/